@model List<model.entity.Estudiantes>
@{
    ViewBag.Title = "Update";
}
@{
    Layout = null;
    if (Session["Id_Usuario"] == null)
    {
        Response.Redirect("~/Login/Index");
    }
}
<div>@ViewBag.mensajeInicio</div>
<html>
<head>
    <title>| Sistema Control de Notas | Creación de estudiante|</title>

    <link rel="stylesheet" href="~/Styles/estilo.css" type="text/css" />
    <script src="~/js/Util.js" type="text/javascript"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <style type="text/css">
        BODY {
            FONT-SIZE: 8.5pt;
        }

        TD {
            FONT-SIZE: 8.5pt;
        }

        TH {
            FONT-SIZE: 8.5pt;
        }

        BODY {
            BACKGROUND-IMAGE: url('../../Images/fondo.jpg');
            BACKGROUND-COLOR: #ffffff;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server" action="/Estudiante/Create" method="post">
        <table width="1000" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
            <tr>
                <td colspan="4">
                    <img src="~/Images/top_fifiu.jpg" width="1000" height="143">
                </td>
            </tr>
            <tr>
                <td width="200" rowspan="2" align="left" valign="top" bgcolor="#37703e">
                    <uc1:UCNavigation ID="UserControl2" runat="server">
                        <table>
                            <tr>
                                <td>
                                    <h2><a href="@Url.Action("Home", "Home")" style="color:white">Home</a></h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2 style="color:bisque">Estudiantes</h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2><a href="@Url.Action("Inicio", "Estudiante")" style="color:white">Listar Estudiantes</a></h2>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h2><a href="@Url.Action("LogOut", "Login")" style="color:white">LogOut</a></h2>
                                </td>
                            </tr>
                        </table>
                    </uc1:UCNavigation>
                </td>
                <td height="20" colspan="3" valign="top">
                    &nbsp;
                    <h2>Bienvenidos al Sistema SCN - Usuario: @Session["Nombre"].ToString() - Creación de estudiante</h2>
                </td>
            </tr>
            <tr>
                <td width="10" height="350" valign="top">&nbsp;</td>
                <td width="770" valign="top" colspan="3">
                    <div class="container-fluid">
                        <table>
                            <tr>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Telefono</th>
                                <th>Dirección</th>
                                <th>Email</th>
                                <th>Usuario</th>
                                <th>Contraseña</th>
                                <th>Título</th>
                            </tr>}
                            @foreach (var objEstudiante in Model)
                            {
                                <tr>
                                    <td>@objEstudiante.Id_Usuario</td>
                                    <td style="width:60px">@objEstudiante.Nombre</td>
                                    <td style="width:60px">@objEstudiante.Apellido</td>
                                    <td style="width:120px">@objEstudiante.Titulo</td>
                                    <td>@objEstudiante.Telefono</td>
                                    <td style="width:80px">@objEstudiante.Direccion</td>
                                    <td>@objEstudiante.Email</td>
                                    <td style="width:40px"><a class="btn btn-success" href="~/Estudiante/find/@objEstudiante.Id_Usuario">Ver</a></td>
                                    <td style="width:40px"><a class="btn btn-primary" href="~/Estudiante/update/@objEstudiante.Id_Usuario">Actualizar</a></td>
                                    <td style="width:40px"><a class="btn btn-danger" href="~/Estudiante/delete/@objEstudiante.Id_Usuario">Eliminar</a></td>
                                </tr>
                            }
                        </table>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="200" height="30" bgcolor="#d2d2c6">&nbsp;</td>
                <td width="10" bgcolor="#d2d2c6">&nbsp;</td>
                <td width="770" bgcolor="#d2d2c6">&nbsp;</td>
                <td width="20" bgcolor="#d2d2c6">&nbsp;</td>
            </tr>
        </table>
    </form>7
    <div>@ViewBag.mensajeError</div>
</body>
</html>

